# LaTeX ignore patterns
SystemAdministration/**/*.aux
SystemAdministration/**/*.dvi
SystemAdministration/**/*.bak
SystemAdministration/**/*.gz
SystemAdministration/**/*.out 
SystemAdministration/**/*.nav 
SystemAdministration/**/*.log 
SystemAdministration/**/*.fls 
SystemAdministration/**/*.snm 
SystemAdministration/**/*.toc 
SystemAdministration/**/*.fdb* 
SystemAdministration/**/*.aux







# Makefile
Makefile
